@font-face {
    font-family: 'Arial', sans-serif;
    src: url('../fonts/9041.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia', sans-serif;
    src: url('../fonts/9605.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}